{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<h1>password change</h1>{% endblock title %}

{% block content %}

    <div class="container">
        <div class="col-6">
            <br><br><br>

            <h1>password change</h1>
            <p>ابذبیکبهیبدحبضبذض</p>
            <form metod="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" value="change My password" class="btn btn-success">

            </form>
        </div>
    </div>

{% endblock content %}